# Node / JavaScript
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Maven / Java
/target/
*.iml
/.idea/
/*.log
/.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.properties

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
