version: '3.8'
services:
  oracle:
    image: gvenzl/oracle-xe:18.4.0
    environment:
      ORACLE_PASSWORD: oracle
    ports:
      - "1521:1521"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
